*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
}


.book-me-btn{
    cursor: pointer;
}

.signup-link{
    text-decoration: underline;
    color: #069;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teacher-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.teacher-name{
    height: 160px;
    width: 150px;
    padding: 30px 20px;
    border: 1px solid rgb(235, 235, 242);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.teacher-name:hover{
    border: 1px solid rgb(42, 42, 236);
    cursor: pointer;
}
